* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", "roboto";
  width: 100%;


}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: rgb(255, 228, 196);
  box-shadow: 0px 0px 10px rgb(244, 23, 214);
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: 500;
  transition: 0.7s;

}

#navbar li a:hover {
  color: aquamarine;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 25px;
  width: 40%;
  height: 3px;
  background: rgb(13, 255, 174);
  transition: all 0.5s;
}

#menu {
  display: none;
}

#cancel {
  display: none;
}