* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", "roboto";
  width: 100%;


}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: rgb(255, 228, 196);
  box-shadow: 0px 0px 10px rgb(244, 23, 214);
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: 500;
  transition: 0.7s;

}

#navbar li a:hover {
  color: aquamarine;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 25px;
  width: 40%;
  height: 3px;
  background: rgb(13, 255, 174);
  transition: all 0.5s;
}

#menu {
  display: none;
}

#cancel {
  display: none;
}
.header h1,h3,p{
  
  
  text-align: start;
  font-size: 12 px;
  padding: 5px;
  color: rgb(110, 110, 104);
  font-weight: 600;
  border: none;
  border-radius: 2px 2px 3px 3px;
  
  
}
.header h1{
  color: rgba(219, 84, 31, 0.499);
}
.header h3{
  color: burlywood;
}
.conta img{
  width: 550px;
  height: 400px;
  box-shadow: 0 0 20px rgb(232, 230, 224);
}
.header{
  padding: 20px;
  border-radius: 40px;
  margin-bottom: 20px;
  background-color: rgb(21, 21, 21);
   box-shadow: 0 0 15px gold;
}

.conta{
  background-color: rgb(128, 236, 236);
  background-position: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
 
}
.conta2{
  background-color: rgb(163, 167, 167);
  background-position: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
 
}
.conta2 img{
   width: 550px;
  height: 400px;
  box-shadow: 0 0 20px rgb(255, 255, 255);
}
.conta2 .Payments{
  background-color: none;
  width: 400px;
  height:300px;
  box-shadow: none;
  text-align: center;
}
@media(max-width:860px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 80px 0px 0px 10px;
    background-color: rgb(117, 116, 115);
    box-shadow: 0 40 60px rgba(0, 0, 0);
    position: fixed;
    top: 0;
    right: -200px;
    height: 100vh;
    width: 200px;
    transition: 0.4s;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 20%;
  }

  #menu {
    font-size: 40px;
    display: flex;
  }

  #cancel {
    font-size: 40px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: rgb(255, 228, 196);
    box-shadow: 0px 0px 10px rgb(244, 23, 214);
    position: sticky;
    top: 0;
    left: 0;
  }
  .header{
    width: 360px;
    
  }
  .header h1,h3,p{
    font-size: 10px;
    text-align: start;
  }
  
  .conta img{
    width: 300px;
    height: 150px;
  }
  .conta2 img{
    width: 300px;
    height: 150px;
  }
  .conta2 .Payments{
    width: 300px;
  }
}


@media(max-width:440px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 80px 0px 0px 10px;
    background: rgb(214, 213, 213);
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0 40 60px rgba(0, 0, 0);
    position: fixed;
    top: 0;
    right: -200px;
    height: 100vh;
    width: 160px;
    transition: 0.4s;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 10%;
    background-color: rgb(58, 33, 182);
    border-radius: 30px;
  }

  #menu {
    font-size: 40px;
    display: flex;
  }

  #cancel {
    font-size: 30px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;


  }
  .container{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 3px;
    background-color: rgb(255, 228, 196);
    box-shadow: 0px 0px 10px rgb(244, 23, 214);
    position: sticky;
    top: 0;
    left: 0;
    
 
  }
  .conta{
    height: 500px;
    padding: 8px 10px;
    justify-content: center;
  }
  .conta2{
    height: 500px;
    padding: 8px 10px;
    justify-content: center;
  }
  .conta img{
    width: 0px;
  }
  .header{
    margin: 10px;
    width: 300px;
  }
  .conta2 .Payments{
    width: 240px;
  }
  .header img{
    justify-content: center;
  }
}