* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", "roboto";
  width: 100%;


}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: rgb(255, 228, 196);
  box-shadow: 0px 0px 10px rgb(244, 23, 214);
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: 500;
  transition: 0.7s;

}

#navbar li a:hover {
  color: aquamarine;
}

#navbar li a:hover::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 25px;
  width: 40%;
  height: 3px;
  background: rgb(13, 255, 174);
  transition: all 0.5s;
}

#menu {
  display: none;
}

#cancel {
  display: none;
}
.pro-img img{
  width:100%;
  height: 320px;
  
}

.pro-img{
  display: flex;
  flex-direction:row;
  padding: 20px;
  align-items: center;
  
 
  
}
.pro-details{
  display:flex;
  flex-direction:column;
  width: 300px;
  font-size: 15px;
  margin: 10%;
  padding: 30px;
  background-color: aliceblue;
  box-shadow: 0 0 15px aqua;
  
  
 
}
.pro-details select,input,button{
  margin: 3%;
  width: 25%;
  padding: 3px;
  border-radius: 10px;
  border: 1px black solid;
  color: rgb(0, 0, 0);
  background-color: rgb(232, 171, 96);
}

.mainimg{
  width: 26%;
  min-width: 250px;
  flex-direction: column;
}
.mainimg .mim{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
 

}
.mim img{
  width: 30%;
  height: 30%;
  
}

.header h1{ 
  display: flex;
  justify-content: center;
  
}
.details{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
  
}
.details .pro{
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: antiquewhite;
  box-shadow: 0 0 13px goldenrod;
}
.pro img{
  width: 100%;
  height: 330px;
}
.features{
  text-align: center;
}
.stars{
  color: gold;
}
#container3{
  background: rgb(45, 44, 44);
  padding: 5%;
  
}
#container2{
  background: url(background2.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
 
}
@media (max-width:860px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 80px 0px 0px 10px;
    background-color: rgb(117, 116, 115);
    box-shadow: 0 40 60px rgba(0, 0, 0);
    position: fixed;
    top: 0;
    right: -200px;
    height: 100vh;
    width: 200px;
    transition: 0.4s;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 20%;
  }

  #menu {
    font-size: 40px;
    display: flex;
  }

  #cancel {
    font-size: 40px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
  }
  #container3{
    padding: 1%;
  }
  .details .pro{
    width: 30%;
    margin-top: 5%;
  }
  .pro img{
    height: 200px;
  }
}
@media(max-width:440px){
    #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 80px 0px 0px 10px;
    background: rgb(214, 213, 213);
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0 40 60px rgba(0, 0, 0);
    position: fixed;
    top: 0;
    right: -200px;
    height: 100vh;
    width: 160px;
    transition: 0.4s;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 10%;
    background-color: rgb(58, 33, 182);
    border-radius: 30px;
  }

  #menu {
    font-size: 40px;
    display: flex;
  }

  #cancel {
    font-size: 30px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;


  }
  .pro-details select,input,button{
    width: 30%;
  }
   #container3{
    padding: 0.2%;
  }

 
  .details .pro{
    width: 20%;
    min-width: 150px;
    margin: 10px;
    padding: 4px;
    border-radius: 10px;
    
    
  }
  .pro img{
    width: 100%;
    height: 200px;
  }
  .pro-img img{
  width:100%;
  height: 300px;
  
}
.pro-img{
  flex-direction: column;
}
.mainimg{
  width: 26%;
  min-width: 250px;
  flex-direction: column;
}
.mainimg .mim{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 

}
.mim img{
  width: 30%;
  height: 30%;
  
}
.pro-details{
  display:flex;
  flex-direction:column;
  
  font-size: 13px;
  margin: 10%;
  padding: 20px;
  background-color: aliceblue;
  box-shadow: 0 0 12px aqua;
  
  
 
}
.container{
  padding: 10px;
}
}