* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", "roboto";
  width: 100%;


}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: rgb(255, 228, 196);
  box-shadow: 0 0 15px rgba(0, 0, 0);
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: 500;
  transition: 0.7s;

}

#navbar li a:hover {
  color: aquamarine;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 25px;
  width: 40%;
  height: 3px;
  background: rgb(15, 138, 97);
  transition: all 0.5s;
}

#menu {
  display: none;
}

#cancel {
  display: none;
}

/* home page */
#hero {
  background: url(bg8-remove.png);
  background-color: rgb(255, 228, 196);
  height: 70vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top 25% right 10%;

}

#hero h1,
p {
  display: flex;
  font-style: italic;
  text-shadow: 0 0 20px rgb(15, 14, 14);
}

#hero h2 {
  font-style: italic;
  color: rgb(63, 178, 140);
}

.display {
  padding: 50px 78px;
  background-repeat: no-repeat;
  width: 500px;
  border-radius: 20px;
}

.display #btn {
  padding: 10px;
  margin: 5px;
  background-color: rgb(63, 178, 140);
  border: none;
  border-radius: 20px;

}

#fe-box img {
  width: 400px;
  height: 600px;
  border: 7px outset gold;


}

.section-p1 {
  padding: 20px 40px;
  display: flex;
  border: none;
  background-color: rgba(232, 111, 111, 0.92);
  align-items: center;
  justify-content: center;


}

#fe-box {

  flex-direction: row-reverse;
  padding: 20px;


}

#fe-box .rows {
  display: flex;
  flex-direction: column;

}

.section-p2 {
  padding: 20px 40px;
  display: flex;
  border: none;

  background-color: rgba(234, 150, 85, 0.92);
  align-items: center;
  justify-content: center;
}

#fe-box2 {
  display: inline-block;
  flex-direction: row;
  padding: 20px;
}

#fe-box .rows2 {
  display: flex;
  flex-direction: column-reverse;
}

#fe-box2 img {
  width: 400px;
  height: 600px;
  border: 7px outset silver;

}

.section-p3 {
  padding: 20px 40px;
  display: flex;
  border: none;
  background-color: rgba(79, 227, 212, 0.92);
  align-items: center;
  justify-content: center;

}

#fe-box3 {
  flex-direction: row;
  padding: 20px;
}

#fe-box3 img {
  width: 400px;
  height: 600px;
  border: 7px outset rgb(222, 55, 186);

}

#fe-box3 .rows3 {
  display: flex;
  flex-direction: column;

}

.section-p4 {
  padding: 20px 40px;
  display: flex;
  border: none;

  background-color: rgba(234, 150, 85, 0.92);
  align-items: center;
  justify-content: center;
}

.details {
  display: inline-block;
  flex-direction: row;
  padding: 20px;
}

.rows4 {
  display: flex;
  flex-direction: column;
}

.details img {
  width: 400px;
  height: 600px;
  border: 7px outset rgb(214, 182, 182);

}

.rows4 button {
  width: 80px;
  padding: 5px;
  background-color: rgba(79, 227, 212, 0.92);
  color: black;
  border: none;
  border-radius: 20px;
}

@media(max-width:860px) {
 #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 80px 0px 0px 10px;
    background-color: rgb(117, 116, 115);
    box-shadow: 0 40 60px rgba(0, 0, 0);
    position: fixed;
    top: 0;
    right: -200px;
    height: 100vh;
    width: 200px;
    transition: 0.4s;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 20%;
  }

  #menu {
    font-size: 40px;
    display: flex;
  }

  #cancel {
    font-size: 40px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
  }
  .container{
    padding: 40px;
    height: 120px;
  }
  .display{
    padding: 40px 28px;
    align-items: center;
    
    width: 400px;
    border-radius: 20px;
    
  }
  #hero{
    background-size: 300px;
    margin-top: 0;
  
  }
  .section-p1{
  
    padding: 20px 25px;
    align-items: center;
    justify-content: center;
    
  }
 #fe-box img{
  width: 250px;
  height: 400px;
 }
 .rows{
  font-size: 14px;
 }
 .section-p2{
  padding: 20px 25px;
  align-items: center;
  justify-content: center;
 }
 #fe-box2 img{
  width: 250px;
  height: 400px;
 }
 .rows2{
  font-size: 14px;
 }
 .section-p3{
  padding: 20px 25px;
  align-items: center;
  justify-content: center;
 }
 #fe-box3 img{
  width: 250px;
  height: 400px;
 }
 .rows3{
  font-size: 14px;
 }
 .section-p4{
  padding: 20px 25px;
  align-items: center;
  justify-content: center;
 }
 .details img{
  width: 250px;
  height: 400px;
 }
 .rows4{
  font-size: 14px;
 }
}
@media(max-width:440px){
  .display{
    
    align-items: center;
    
    padding-top: 40px;
    width: 310px;
    border-radius: 20px;
    font-size: 10px;
    
  }
  #hero{
    background-size: 220px ;
    background-position: 30vb;
    height: 300px;
  
  }
  .section-p1{
     flex-direction: column;
    padding: 10px 15px;
   
    
  }
 #fe-box img{
  width: 200px;
  height: 240px;
 }
 .rows{
  font-size: 11px;
 
 }
 .section-p2{
  flex-direction: column;
  padding: 10px 15px;
  
 }
 #fe-box2 img{
  width: 200px;
  height: 240px;
 }
 .rows2{
  font-size: 11px;
 }
 .section-p3{
  padding: 10px 15px;
  flex-direction: column;
 
 }
 #fe-box3 img{
  width: 200px;
  height: 240px;
 }
 .rows3{
  font-size: 11px;
 }
 .section-p4{
  padding: 10px 15px;
  flex-direction: column;
 
 }
 .details img{
  width: 200px;
  height: 240px;
 }
 .rows4{
  font-size: 11px;
 }
}
